body {
	background-color: #ded1e1;
	font-family: "Helvetica Neue", sans-serif;
	font-weight: 300;
	color: #141414;
	font-size: 18px;
	margin: 0px;
}

footer {
	color: #646065;
	font-size: 0.875rem;
	padding: 28px;
	text-align: center;
}

/* link styles */

a {
	color: #5c1d6c;
	text-decoration: none;
}

/* Text styles */

h1 {
	padding: 10px 0 0 0;
	margin: 0;
}

h2 {
	font-weight: bold;
	font-size: 1.25rem;
	padding: 10px 0 0 0;
	margin: 0;
}

strong {
	font-family: "Helvetica Neue Medium", "Helvetica Neue", sans-serif;
	font-weight: bold;
}

.thin {
	font-family: "Helvetica Neue Light", "Helvetica Neue", sans-serif;
	font-weight: 200;
}

/* Nav styles */
.nav {
	background: #d5d6ce;
	color: #591f69;
	padding: 10px 25px 0 112px;
	text-align: center;
}

.logo img {
	width: 156px;
}

.menu-container {
	float: right;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

img#cart-icon {
	width: 49px;
	height: 49px;
}

img#menu-icon {
	width: 38px;
	height: 38px;
	padding-left: 25px;
}

/* Hero section */
.hero {
	background: url("../assets/testpg-hero-bg-1200x870.jpg");
	background-position: right;
	background-size: cover;
	height: 90vh;
	position: relative;
}

.hero-text {
	position: absolute;
	top: 100px;
	left: 100px;
	width: 35%;
	text-align: center;
}

.title {
	font-size: 6rem;
	letter-spacing: -0.2rem;
	padding: 0;
	margin: 0;
	line-height: 80%;
}

.title strong {
	font-weight: 300;
}

.subhead {
	font-size: 4rem;
	color: #ffffff;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.subhead .border {
	border-top: 1px solid #ffffff;
	flex-grow: 1;
	margin: 0 25px;
}

.description {
	font-size: 3.5rem;
	color: #ffffff;
}

.shop-now-container {
	margin: 45px;
}

.shop-now-container a.button {
	background: #591f69;
	color: #ffffff;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	font-weight: 500;
	margin: 30px;
	padding: 10px 25px;
	border: 3px solid #ffffff;
}

.shop-now-container a.button:hover {
	background: #ffffff;
	color: #591f69;
	border: 3px solid #591f69;
}

/* Offer aside */
.offer {
	background: #5c1d6c;
	color: #ffffff;
	padding: 10px 0;
	text-align: center;
}

/* Products Section */
.products {
	background: #ffffff;
	padding: 28px 0;
}

.products h2 {
	font-size: 4rem;
	text-align: center;
}

.product-category {
}

.product-name {
}

.product-price {
}

/* Callout Section */

.callout {
	background: url("../assets/testpg-full-width-callout-background-1200x282.jpg");
	background-position: center;
	background-size: cover;
	height: 282px;
	padding: 28px 0;
}

.callout.container {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.callout .item {
	text-align: center;
	border-left: 1px solid #f9ffec;
	margin-left: -1px;
	padding: 0 10%;
}

.callout .item img {
	width: 20%;
}
